.restaurants-wrapper {
   position: relative;
   width: 100%;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background-color: #0f0f0fd1;
}

.content {
   width: 100%;
   height: inherit;
   min-height: 100vh;
   position: relative;
   bottom: 0;
   top: 80px;
   left: 0;
   right: 0;
   margin-bottom: 50px;
}

.container__restaurants {
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 320px;
   margin-top: 20px;
   border-bottom: 2px solid orange;
}

.input__form {
   width: 100%;
   margin-top: 20px;
}
.image__restaurants {
   width: 450px;
   height: 300px;
   border: 1px solid orange;
   overflow: hidden;
}

.image__restaurants > img {
   width: 450px;
   height: 300px;
   transform: scale(1);
   transition: 0.7s ease;
}

.image__restaurants > img:hover {
   transform: scale(1.2);
   transition: 0.7s ease;
}

.information {
   display: block;
   width: 300px;
   color: #fff;
   padding-top: 20px;
}

.information > a {
   font-size: 26px;
   font-weight: 700;
   color: orange;
   text-decoration: underline;
   display: flex;
   justify-content: center;
}

.information > p {
   font-size: 19px;
   margin: 15px 0 15px 10px;
}

.btns {
   width: 100%;
   display: flex;
}

.btns > span {
   font-size: 15px;
   font-weight: 700;
   color: #fff;
   background-color: inherit;
   margin: 20px auto;
   padding: 5px 15px;
   border: 1px solid orange;
   text-transform: uppercase;
   transition: 0.7s all ease;
}

.btns > span:hover {
   color: #000;
   background-color: orange;
   cursor: pointer; 
}

.pagination {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}

.ant-modal-header {
   background-color: #0f0f0fd1;
   border-bottom: 1px solid orange;
}

.ant-modal-title {
   color: #fff;
   font-size: 18px;
}

.anticon {
   color: #fff;
}

.ant-modal-body {
   background-color: #0f0f0fd1;
}

.ant-modal-footer {
   background-color: #0f0f0fd1;
   border-top: 1px solid orange;
}

.ant-col > label {
   color: #fff;
}

.ant-input {
   background-color: inherit;
   border: 1px solid orange;
   color: #fff;
}

.ant-input:hover {
   border: 1px solid #fff;
}

.ant-btn {
   background-color: orange;
   border: none;
   color: #000;
   font-weight: 600;
}

.ant-btn:hover {
   color: #fff;
   background-color: orange;
}